*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans';
}

html,body{
    height: 100%;
}

/*Divs gerais*/
.center{
    width: 100%;
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}

.clear{
    clear: both;
}
/********/

/*header*/

header{
    padding: 10px 0;
    background: linear-gradient(rgb(220,220,220),rgb(180,180,180),rgb(220,220,220))
}

.logo1 img{
    float: left;
    width: 100px;
    /*background-image: url(../img/logo-dart.jpeg);
    background-position: center;
    background-size: cover;*/
}

.logo2 img{
    float: right;
    width: 100px;
}

/**********/

/*background*/
section .cover-form{
    width: 100%;
    padding: 0 2%;
}

.bg{
    height: 550px;
    width: 100%;
    padding: 10px 40px 10px 0;
    background-image: url(../img/bg-form.jpg);
    background-size: cover;
    background-position: center;
}
/********/

/*fomulario*/
.form-container{
    float: right;
    height: 100%;
    width: 320px;
    background-color: rgba(234, 236, 239, 0.5);
    border-radius: 15px;
}

.form-container h2{
    padding: 20px 15px;
    font-weight: normal;
    font-size: 18px;
    font-weight: 900;
    color: black;
    background-color: rgba(234, 236, 239, 0.7);
    border-radius: 15px;
}

.form-container form{
    margin-top: 8px;
    padding: 0 10px
}

.form-wraper:not(:first-child){
    margin-top: 20px;
}

.form-container form p{
    font-size: 16px;
    color: #525252;
}

.form-container form input[type=text]{
    height: 45px;
    width: 100%;
    line-height: 45px;
    padding-left: 10px;
    border: 2px solid rgba(100, 100, 100);
    border-radius: 5px;
}

.form-container form input[type=submit]{
    height: 45px;
    width: 100%;
    font-size: 23px;
    background-color: #033c50bb;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    border: 2px solid #033c50;
    border-radius: 5px;
}

.form-container form input[type=submit]:hover{
    background-color: #033c50;
    font-weight: bold;
}

/*fim formulário*/

/*chamada*/
    
.chamada{
    width: 100%;
    padding: 60px 0;
    display: inline-block;
    text-align: center;
    background: linear-gradient(rgb(200,200,250),rgba(200,200,250,0.5),rgb(200,200,250));
    color: rgb(60,60,80);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;}


.chamada h2{
    font-size: 50px;
    font-weight: bolder; 
}

.chamada p{
    font-size: 30px;
    margin-top: 10px;
    font-weight: bolder;
}
/***************/

/*mosaico*/
.flex-mosaico{
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}

.item-1-mosaico p{
    font-size: 19px;
    font-weight: bolder;
    color: rgb(58, 58, 58);
}

.item-1-mosaico{
    width: 30%;
    padding-inline: 1%;    
    padding-top: 1%;
    border-right: 2px solid white;
}

.item-1-mosaico p{
    font-size: 27px;
    font-weight: bolder;
}

.item-2-mosaico{
    width: 60%;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-inline: 5%;
    /*margin-left: 10%;*/    
    transition: 1s;
    background-position: center;
    background-size: cover;
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(243, 243, 243);
    background-color: #033c50;
    border-top-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 5px;
}

.item-2-mosaico:hover{
    width: 70%;
    padding-top: 20%;
    /*margin-left: 0;*/
    font-size: 35px;
    transition: 1s;
}

footer{
    text-align: center;
    padding: 20px 0;
}

footer p{
    margin-top: 8px;
}

footer img{
    height: 40px;
}

/*media queries*/
@media screen and (max-width: 768px){
    .flex-mosaico{
        display: block;
    }
    .item-1-mosaico{
        height: 100px;
        width: 100%;
        margin: 0;
        border: 0;
    }
    .item-2-mosaico{
        min-width: 100%;
        padding-top: 190px;
        margin: 0;
        border: 0;
    }

    .item-2-mosaico:hover{
        padding-top: 220px;
    }
}

@media screen and (max-width: 550px){

    .center{
        padding: 0 3%;
    }

    header{
        text-align: center;
    }

    .logo1 img, .logo2 img{
        float: none;
    }

    [class^="logo"]{
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }
 
    .bg{
        padding: 5px 3%;
    }

    /*formulário*/
    .form-container{
        float: none;
        width: 100%;
    }   
    /*fim formulário*/

    /*mosaico*/

    .item-1-mosaico{
        height: 90px;
    }

    .item-2-mosaico{
        min-width: 100%;
    }

    .item-2-mosaico:hover{
        padding-top: 60%;
    }
    /*fim mosaico*/
}